---
description: Création du site du Mas Bleu en Provence | Créez dès maintenant votre site web sur mesure avec Apigraphe. Bénéficiez de conseils personnalisés sur l'hébergement, la création, le référencement et la maintenance. Soyez visible avec un site Internet livré clé en main.
title: Création d'un site statique de services aux particuliers et aux professionnels
category: portfolio
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">Le Mas Bleu en Provence</h1>
        <hr>
        <p>
        Présentation du site de Le Mas Bleu en Provence, gîte à Salon de Provence
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify paddedmoins">
      <h2>1-L'identité visuelle</h2>
        <p>
        <strong>Il s'agit d'un site statique réalisé avec Bootsrap</strong><br>
        Un gabarit a été choisi et modifié pour ce site vitrine. Une image de fond associée à une opacité permettent un rendu essentielement graphique en page d'accueil. Le choix de la police sans empatement pour les paragraphes accentu un style volontairement épuré.
        </p>

        <h2>2-Développement du site</h2>
          <ul class="text-justify"><strong>Les principales fonctionnalités développées</strong> sont :
            <p>
            <li class="fonctions"><span class="souligne">Développement d'un site statique</span> personnalisé avec uniquement les informations essentielles.</li>
            <li class="fonctions"><span class="souligne">Le site</span> s'adapte à tous les formats d'écrans, il est responsive.</li>
            </p>
          </ul>
        <h2>3-L'hébergement et le fonctionnement du site</h2>
        <p>
        <strong>Le site est hébergé par GitHub. Seul le nom de domaine a été acheté (pas de base de données).</strong> C'est un site statique sans panneau d'administration. Il n'est pas possible de le modifier sans connaissances pointues où sans faire appel à un développeur web.
        </p>
        <p class="text-center"><% link_to "http://www.lemasbleuenprovence.com/", title: "Voir le site", target: "_blank" do %><span class="btn btn-rounded">Voir le site</span>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

