---
title: Création d'un site statique simple et robuste
category: portfolio
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">Monsieur Café Plumer</h1>
        <hr>
        <p>
        Présentation du site de Monsieur Café Plumer, artiste peintre Cubain
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify paddedmoins">
      <h2>1-L'identité visuelle</h2>
        <p>
        <strong>Site statique réalisé avec Bootsrap</strong><br>
        Le gabarit choisi permet un aperçu des réalisations de l'artiste sous différents regards. Le choix de la police sans empatement pour les paragraphes accentu un style volontairement épuré.
        </p>

        <h2>2-Développement du site</h2>
          <ul class="text-justify"><strong>Les principales fonctionnalités développées</strong> sont :
            <p>
            <li class="fonctions"><span class="souligne">Développement d'un site statique</span> personnalisé.</li>
            <li class="fonctions"><span class="souligne">Le site s'adapte à tous les formats d'écrans</span>, il est responsive.</li>
            <li class="fonctions"><span class="souligne">Ajout des mentions légales</span>. Aucun cookie n'est utilisé, il n'y a donc pas d'avertissement.</li>
            <li class="fonctions"><span class="souligne">Site sans base de données</span>, simple, rapide et robuste.</li>
            </p>
          </ul>
        <h2>3-L'hébergement et le fonctionnement du site</h2>
        <p>
        <strong>Site statique réalisé avec Bootstrap et hébergé avec GitHub Pages</strong>. Nom de domaine pris chez OVH. Après une formation, le site peut s'administrer en autonomie sans recours à un prestataire web.
        </p>
        <p class="text-center"><% link_to "https://www.monsieurcafeplumer.com/", title: "Voir le site", target: "_blank" do %><span class="btn btn-rounded">Voir le site</span>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

