---
title: Création d'un site statique de services aux particuliers et aux professionnels
category: portfolio
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">L'orchidée</h1>
        <hr>
        <p>
        Présentation du site de l'Orchidée, services aux particuliers et aux professionnels
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify paddedmoins">
      <h2>1-L'identité visuelle</h2>
        <p>
        <strong>Il s'agit d'un site statique réalisé avec Bootsrap</strong><br>
        Aucun gabarit n'a été choisi pour ce site vitrine, une simple image de fond associée à une opacité permettent de personnaliser le site. Le choix de la police sans empatement accentu un style volontairement épuré.
        </p>

        <h2>2-Développement du site</h2>
          <ul class="text-justify"><strong>Les principales fonctionnalités développées</strong> sont :
            <p>
            <li class="fonctions"><span class="souligne">Développement d'un site statique</span> personnalisé avec uniquement les informations essentielles.</li>
            <li class="fonctions"><span class="souligne">Le site</span> s'adapte à tous les formats d'écrans, il est responsive.</li>
            </p>
          </ul>
        <h2>3-L'hébergement et le fonctionnement du site</h2>
        <p>
        <strong>Le site est hébergé par GitHub. Seul le nom de domaine a été acheté (pas de base de données).</strong> C'est un site statique sans panneau d'administration. Il n'est pas possible de le modifier sans connaissances pointues où sans faire appel à un développeur web.
        </p>
        <p class="text-center"><% link_to "http://www.conciergerielorchidee.com/", title: "Voir le site", target: "_blank" do %><span class="btn btn-rounded">Voir le site</span>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

