--- 
title: Cowichan Fournier | Développeur et Formateur Web à Gap
category: à propos
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">À propos</h1>
        <hr>
        <p>
        Je m'appelle <strong>Cowichan Fournier</strong>, je suis <strong>développeur web</strong> freelance. En 2016, j'ai créé ma micro-entreprise et je présente ici une partie de mon travail consacrée à la création de site Internet clé en main. 
        
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify paddedmoins">

        <p>
          Résolument tourné vers <strong>l’avenir</strong>, je me tiens à jour des dernières solutions et nouveautés qui permettent de créer des sites simples à utiliser et à gérer mais également robustes. <br>
          J’accorde beaucoup d’importance à la <strong>relation client, à la proximité</strong> et à la <strong>disponibilité</strong>.  
        </p>

        <p>Pour votre <strong>projet sur mesure</strong>, <% link_to "contact.html", title: "Contact", target: "_blank" do %>contactez-moi<% end %>. </p>

        <p>
        Je travaille dans l'espace de <strong>coworking</strong> de Gap, <a href="http://lalocomotive.colabs.fr/">la locomotive</a>. Les avantages d'un bureau partagé sont nombreux, l'échange, l'émulation, l'entraide et bien plus encore. 
        </p>
        <p>
        Vous souhaitez en savoir plus ? Visitez mon site personnel <% link_to "https://www.cowichanfournier.com/", title: "Voir le site", target: "_blank" do %>cowichanfournier.com<% end %> ou mon profil <% link_to "https://www.linkedin.com/in/cowichanfournier/", title: "Voir le site", target: "_blank" do %>Linkedin<% end %>
        </p>

<!--        Les liens ci-dessus pourront vous intéresser :<br />
        - Si vous êtes à la recherche d'une solution clé en main pour la création de votre site Internet incluant le design, le code, l'hébergement, le nom de domaine mais aussi une formation et un accompagnement.
        <br />
        - Si vous avez déja un site mais souhaitez une refonte complète.
        </p>
        <p>
        Je peux aussi vous former à la création d'un site Internet afin de maitriser tous les composants d'un site, de la création à la maintenance.<br />
        </p>-->
      <!-- <p><i>Cowichan Fournier</i></p> -->
      </div>
    </div>
  </div>
</div>

