--- 
title: Cowichan Fournier | Développeur et Formateur Web
category: à propos
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">À propos</h1>
        <hr>
        <p>
        Je m'appelle <strong>Cowichan Fournier</strong> et je suis <strong>développeur web</strong>. Je réalises des sites Internet sur mesure, j'accompagne les entrepreneurs créatifs, j'interviens sur des missions ponctuelles et je suis formateur.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify paddedmoins">
        <p>
        J'ai commencé à me former grâce aux nombreuses ressources présentes sur Internet puis j'ai effectué une formation numérique en 2012 (Activités et Techniques de communication Mention Multimédia Internet Webmaster). J'ai ensuite continué mon apprentissage en autodidacte tout en réalisant mes premiers projets.</p>
        <p>
        En tant que <strong>développeur web indépendant</strong>, je travaille principalement sur la création de <strong>projet web clé en main</strong>. 
        </p>
        
        <p>
        Je réalise également des <strong>missions ponctuelles</strong> à la demande, réalise des <strong>formations web</strong> et <strong>accompagne</strong> les entrepreneurs créatifs.
        </p>
        <p>
        Je suis <strong>mentor</strong> chez <a href="https://openclassrooms.com/">OpenClassrooms</a> depuis 2016. J'<strong>accompagne</strong> les étudiants dans l'avancement de leurs projets tout en établissant des objectifs.
        </p>
        <p>
        Je travaille dans l'espace de coworking de Gap, <a href="http://lalocomotive.colabs.fr/">la locomotive</a>. Les avantages d'un bureau partagé sont nombreux, l'échange, l'émulation, l'entraide et bien plus encore. 
        </p>
<!--        Les liens ci-dessus pourront vous intéresser :<br />
        - Si vous êtes à la recherche d'une solution clé en main pour la création de votre site Internet incluant le design, le code, l'hébergement, le nom de domaine mais aussi une formation et un accompagnement.
        <br />
        - Si vous avez déja un site mais souhaitez une refonte complète.
        </p>
        <p>
        Je peux aussi vous former à la création d'un site Internet afin de maitriser tous les composants d'un site, de la création à la maintenance.<br />
        </p>-->
      <!-- <p><i>Cowichan Fournier</i></p> -->
      </div>
    </div>
  </div>
</div>

