--- 
title: Cowichan Fournier | Développeur et Formateur Web à Gap
category: à propos
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">À propos</h1>
        <hr>
        <p>
        Je m'appelle <strong>Cowichan Fournier</strong>, je suis <strong>développeur web</strong> freelance. En 2016, j'ai créé ma micro-entreprise et je présente ici une partie de mon travail consacrée à la création de site Internet clé en main. 
        
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify paddedmoins">

        <p>
          Résolument tourné vers <strong>l’avenir</strong>, je me tiens à jour des dernières solutions et nouveautés qui permettent de créer des sites simples à utiliser et à gérer mais également robustes. <br>
          J’accorde beaucoup d’importance à la <strong>relation client, à la proximité</strong> et à la <strong>disponibilité</strong>.  
        </p>

        <p>Pour votre <strong>projet sur mesure</strong>, <% link_to "contact.html", title: "Contact", target: "_blank" do %>contactez-moi<% end %>. 
        </p>
        <br>
        <div class="center">
          <p>
            <img class="me" src="images/cf.jpg" alt="Cowichan Fournier développeur web">
          </p>
        </div>

        <br>
          <p>
          Visitez également mon site personnel <% link_to "https://www.cowichanfournier.com/", title: "Voir le site", target: "_blank" do %>cowichanfournier.com<% end %> ou mon profil <% link_to "https://www.linkedin.com/in/cowichanfournier/", title: "Voir le site", target: "_blank" do %>Linkedin<% end %>
          </p>
 
      </div>
    </div>
  </div>
</div>

