---
title: Cowichan F - A propos
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">Les étapes de la création d'un site web</h1>
        <hr>
        <p class="text-justify"><i>Chaque projet est différent, chaque site a ses propres fonctionnalités mais aussi un design adapté à son image.</i><br />
        Cependant, il est possible de dégager <strong>quelques grandes étapes communes à la conception d'un site</strong>.</p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container text-justify paddedmoins">
    <div class="row">

      <div class="col-xs-12 col-sm-3">
        <i class="fa fa-comments fa-5x"></i>
      </div>
      <div class="col-xs-12 col-sm-9">
        <h4>1. Premier contact</h4>
        <p>Il s'agit de présenter votre projet afin d'ébaucher un portrait du futur site où se dégagera les choix en matière de design et de fonctionnalités. Dans ce but, un cahier des charges sera élaboré afin de répondre à toutes les exigences qu'impose un site (charte graphique, arborescence du site, fonctionnalités, hébergement, nom de domaine).</p>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
      <div class="col-xs-12 col-sm-3">
        <i class="fa fa-lightbulb-o fa-5x"></i>
      </div>
      <div class="col-xs-12 col-sm-9">
        <h4>2. Le contenu du site</h4>
        <p>Le contenu est ce que les visiteurs viennent chercher en allant sur un site. Celui-ci devra faire l'objet de toute votre attention. Tous les contenus (textes, photos, logos) seront ensuite intégrés suivant l'arborescence prévue dans le cahier des charges.</p>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
      <div class="col-xs-12 col-sm-3">
        <i class="fa fa-sitemap fa-5x"></i>
      </div>
      <div class="col-xs-12 col-sm-9">
        <h4>3. La maquette du site</h4>
        <p>Dans cette étape je me plonge dans le code afin de structurer chaque page. J'intègre une partie de vos contenus et une attention particulière est mise afin de rendre le site ergonomique et ainsi facilité la navigation des visiteurs en permettant un accès rapide à l'information. Tous les tests sont ensuite effectués et une première version vous est présentée sur un serveur de test avant sa validation.</p>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
      <div class="col-xs-12 col-sm-3">
        <i class="fa fa-desktop fa-5x"></i>
      </div>
      <div class="col-xs-12 col-sm-9">
        <h4>4. Mise en ligne</h4>
        <p>Voici la dernière étape. Après les vérifications nécessaires et l'achat du nom de domaine, le site est mis en ligne chez l'hébergeur.  Pendant un an, une sauvegarde du site est assurée régulièrement.<br />
        Le site et le nom de domaine vous appartiennent. Il faut penser ensuite à renouveler le site chez votre hébergeur tous les ans (un email vous le rapelle) !<br />
        En fonction de vos intérets, je peux aussi m'occuper d'un suivi après la première année, mise à jour du logiciel WordPress, des plugins, sauvegarde du site, ou encore, modification sur le site.</p>
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
      <div class="col-xs-12 col-sm-3">
        <i class="fa fa-desktop fa-5x"></i>
      </div>
      <div class="col-xs-12 col-sm-9">
        <h4>5. Formation</h4>
        <p>J'assure une formation afin de vous familiariser à l'interface utilisateur pour que vous puissiez faire vivre vous-même votre site par la suite.<br />
        Vous saurez effectuer vous même les modifications sur le site.
        <p>
        Après la première année, deux solutions s'offrent à vous :
          <ul>
            <li>je peux m'occuper du site après validation d'un devis de maintenance
            </li>
            <li>Je peux assurer la formation nécessaire pour que vous pilotiez vous même votre site dans le future.</li>
          </ul>
        </p>
        Une formation un peu plus poussée vous permettra de faire des économies sur votre site. En effet, la maintenance d’un site internet (mise à jour, ajout de nouvelles fonctionnalités, sauvegarde, renouvellement de l'hébergement) peut coûter cher. <br />
        Quel que soit la formule, j'assure pendant un an, après la livraison du site, un suivi complet. <br />


        </p>
      </div>


    </div>
  </div>
</div>


