---
title: Création d'un site pour un hôtel en Côte d'Ivoire
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">Cyclope surfcamp</h1>
        <hr>
        <p>
        Site réalisé avec le logiciel WordPress pour un Surf camp en Côte d'Ivoire
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify paddedmoins">
      <h2>1-L'identité visuelle</h2>
        <p>
          <strong>La charte graphique</strong> générale du site s'appuie sur des couleurs vives.<br>
          Le logo existait déjà et quelques touches personnelles ont été ajoutées comme la réalisation d'un fond d'écran sous forme de drapeau.<br />
          Une typographie particulière a été employé <strong>pour les titres</strong> mettant en valeur le site.
        </p>

        <h2>2-Développement du site</h2>
          <ul class="text-justify"><strong>Les principales fonctionnalités développées</strong> sont :
            <p>
            <li class="fonctions"><span class="souligne">Développement d'un thème</span> WordPress unique spécialement créé pour ce site.</li>
            <li class="fonctions"><span class="souligne">Design personnalisé</span>. Création du gabarit et de la charte graphique.</li>
            <li class="fonctions"><span class="souligne">Ajouts et paramétrages</span> des différents plugin: Carte, formulaire de contact, plugin de traduction, diaporama photos.</li>
            </p>
          </ul>
        <h2>3-L'hébergement et le fonctionnement du site</h2>
        <p>
        Le site est hébergé chez OVH. <strong>Le cyclope surfcamp a été réalisé avec le CMS WordPress.</strong> Le tableau de bord de l'administrateur permet une gestion complète du site
        </p>
        <p class="text-center"><% link_to "http://www.cyclopesurfcamp.com", title: "Voir le site", target: "_blank" do %><span class="btn btn-rounded">Voir le site</span>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

