---
title: Fonctionnalités - Sites dynamiques ou sites statiques
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="cul-xs-12 paddedmoins">
        <h1 class="underl">Fonctionnalités</h1>
        <hr>
        <p class="text-justify">
        <strong style="text-decoration:underline";>Site dynamique ou site statique ?</strong><br>
          Un <strong>site dynamique</strong> permet de présenter les informations de différentes manières selon l'interaction avec le visiteur et peut se modifier en se connectant à son tableau de bord. <br>
          Un <strong>site statique</strong>, par opposition, présentera toujours des pages identiques et il n'est pas possible de le modifier sans connaissances pointues.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container text-justify">
    <div class="row">
      <div class="col-xs-12 col-sm-6 paddedmoins">
          <ul>
            <li>Google
              <ul>
                <li>Picasa</li>
                <li>Feedburner</li>
                <li>Youtube</li>
              </ul>
            </li>
          </ul>
      </div>
      <div class="col-xs-12 col-sm-6 paddedmoins">
          <ul>
            <li>Google
              <ul>
                <li>Picasa</li>
                <li>Feedburner</li>
                <li>Youtube</li>
              </ul>
            </li>
          </ul>
      </div>
    </div>
  </div>
</div>

