---
title: Cowichan Fournier | Dévellopeur et Formateur Web
category: accueil
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">Bienvenue!</h1>
        <hr>
        <p>Je suis développeur web et passionné par mon métier. Je mets toutes mes compétences pour réaliser votre projet ! N'hésitez pas à regarder mes <% link_to "/portfolio.html" do %>créations<% end %> ou à <% link_to "/contact.html" do %>me contacter -><% end %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify paddedmoins">
        <p>
        Vous pensez créer votre site Internet ? Vous serez certainement intéressés par les <% link_to "/creations.html" do %>étapes de création d'un site<% end %> et par les <% link_to "/fonctionnalites.html" do %>fonctionnalités<% end %> d'un site statique ou dynamique.
        </p>
        <p>
        Les liens ci-dessus pourront vous intéresser :<br />
        - Si vous êtes à la recherche d'une solution clé en main pour la création de votre site Internet incluant le design, le code, l'hébergement, le nom de domaine mais aussi une formation et un accompagnement.
        <br />
        - Si vous avez déja un site mais souhaitez une refonte complète.
        </p>
        <p>
        Je peux aussi vous former à la création d'un site Internet afin de maitriser tous les composants d'un site, de la création à la maintenance.<br />
        </p>

      </div>
    </div>
  </div>
</div>

