---
description: La Potière | Créez dès maintenant votre site web sur mesure avec Apigraphe. Bénéficiez de conseils personnalisés sur l'hébergement, la création, le référencement et la maintenance. Soyez visible avec un site Internet livré clé en main.
title: Création du site de eCommerce pour La potière
category: portfolio
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">La potière</h1>
        <hr>
        <p>
        Site dynamique de vente en ligne
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify paddedmoins">
      <h2>1-L'identité visuelle</h2>
        <p>
        <strong>La charte graphique</strong> s'appuie sur le thème choisi et a été légerement modifiée en respectant les couleurs de l'ancien site.<br>
        La page d'accueil a été modifiée afin d'intégrer un diaporama photos qui présente les créations de l'atelier. Les actualités du blog sont visibles sur la page d'accueil ainsi que la présentation d'une partie des créations de l'atelier. Le favicon du site représente une des création de l'atelier de poterie.<br />
        Le thème développé s'adapte à toutes les <strong>résolutions d'écrans</strong>, du smartphone à l'ordinateur de bureau.
        </p>

        <h2>2-Développement du site</h2>
        <ul class="text-justify"><strong>Les principales fonctionnalités développées</strong> sont :
          <p>
            <li class="fonctions"><span class="souligne">Développement d'un thème WordPress</span> personnalisé.</li>
            <li class="fonctions"><span class="souligne">Ajout et paramétrage du plugin WooCommerce</span> permettant de créer une boutique en ligne avec système de paiement par PayPal et/ou autres.</li>
            <li class="fonctions"><span class="souligne">Ajout et paramétrage du plugin Table Rate Shipping by Mangohour</span> permettant de paramétrer les méthodes de livraisons selon le poids notamment.</li>
            <li class="fonctions"><span class="souligne">Ajouts de plugins supplémentaires:</span> formulaire de contact, carte de situation, anti-spam, Google analyticator, référencement optimisé (SEO).</li>
            <li class="fonctions"><span class="souligne">Système de blog</span> intégré dans une page dédiée.</li>
            <li class="fonctions"><span class="souligne">Personnalisation</span> du thème avec un diaporama sur la page d'accueil.</li>
          </p>
        </ul>
        <h2>3-L'hébergement et le fonctionnement du site</h2>
        <p>
        Le site est hébergé chez OVH. <strong>La potière a été réalisée avec le logiciel WordPress et le plugin de eCommerce WooCommerce.</strong> Le tableau de bord de l'administrateur permet une gestion complète du site.
        </p>
        <p class="text-center"><% link_to "http://www.lapotiere.fr", title: "Voir le site", target: "_blank" do %><span class="btn btn-rounded">Voir le site</span>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

