---
title: Portfolio - Création de Sites web
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">Portfolio</h1>
        <hr>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-white">
  <div class="container2 text-center">
    <div class="row">
      <div class="col-xs-6 col-sm-4 paddedphotos">
        <div class="hovereffect">
            <img class="img-responsive" src="images/portfolio/rallye.png" alt="">
            <div class="overlay">
              <h2>WordPress</h2>
                <% link_to "/rallye.html", class: "info" do %>Plus d'infos<% end %>
            </div>
        </div>
        <p>
          <% link_to "http://rallyehivernaldudevoluy.fr/" do %>www.rallyehivernaldudevoluy.fr<% end %>
        </p>
      </div>
      <div class="col-xs-6 col-sm-4 paddedphotos">
        <div class="hovereffect">
            <img class="img-responsive" src="images/portfolio/potiere.png" alt="">
            <div class="overlay">
               <h2>Hover effect 1</h2>
               <a class="info" href="#">link here</a>
            </div>
        </div>
        <p>hrhrrh</p>
      </div>
      <div class="col-xs-6 col-sm-4 paddedphotos">
        <div class="hovereffect">
            <img class="img-responsive" src="images/portfolio/el-camino.png" alt="">
            <div class="overlay">
               <h2>Hover effect 1</h2>
               <a class="info" href="#">link here</a>
            </div>
        </div>
        <p>hrhrrh</p>
      </div>
      <div class="col-xs-6 col-sm-4 paddedphotos">
        <div class="hovereffect">
            <img class="img-responsive" src="images/portfolio/brocante.png" alt="">
            <div class="overlay">
               <h2>Hover effect 1</h2>
               <a class="info" href="#">link here</a>
            </div>
        </div>
        <p>hrhrrh</p>
      </div>
      <div class="col-xs-6 col-sm-4 paddedphotos">
        <div class="hovereffect">
            <img class="img-responsive" src="images/portfolio/cyclope.png" alt="">
            <div class="overlay">
               <h2>Hover effect 1</h2>
               <a class="info" href="#">link here</a>
            </div>
        </div>
        <p>hrhrrh</p>
      </div>
      <div class="col-xs-6 col-sm-4 paddedphotos">
        <div class="hovereffect">
            <img class="img-responsive" src="images/portfolio/mimi.png" alt="">
            <div class="overlay">
               <h2>Hover effect 1</h2>
               <a class="info" href="#">link here</a>
            </div>
        </div>
      </div>
      <p>hrhrrh</p>
    </div>
  </div>
</div>
