---
title: Réalisations | Création de Sites web
category: réalisation
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">Réalisations</h1>
        <hr>
        <p>
        Les dernières réalisations
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-white">
  <div class="container2 text-center">
    <div class="row">
     
     <div class="col-xs-12 col-sm-4 paddedphotos">
       <div class="hovereffect">
           <img class="img-responsive" src="images/portfolio/futurio.jpg" alt="Cowichan Fournier création de sites Internet sur Gap">
           <div class="overlay">
              <h2>Votre projet</h2>
              <% link_to "contact.html", class: "info" do %>Un projet ? Contactez moi<% end %>
           </div>
       </div>
       <p>
       <% link_to "contact.html", class: "liensp" do %>Votre futur projet ?<% end %>
       </p>
     </div>
      <div class="col-xs-12 col-sm-4 paddedphotos">
        <div class="hovereffect">
            <img class="img-responsive" src="images/portfolio/lemas3.png" alt="Développement du site Le Mas Bleu en Provence créé par Cowichan Fournier">
            <div class="overlay">
              <h2>Site statique</h2>
              <% link_to "ensavoirplus/lemas.html", class: "info" do %>En savoir plus<% end %>
            </div>
        </div>
        <p>
          <% link_to "http://www.lemasbleuenprovence.com/", class: "liensp", target: "_blank" do %>
          www.lemasbleuenprovence.com<% end %>
        </p>
      </div>
      
      <div class="col-xs-12 col-sm-4 paddedphotos">
        <div class="hovereffect">
            <img class="img-responsive" src="images/portfolio/intradosse.png" alt="Développement du site Intradosse par Cowichan Fournier">
            <div class="overlay">
              <h2>WordPress</h2>
              <% link_to "ensavoirplus/intradosse.html", class: "info" do %>En savoir plus<% end %>
            </div>
        </div>
        <p>
          <% link_to "https://www.intradosse.com/", class: "liensp", target: "_blank" do %>
          www.intradosse.com<% end %>
        </p>
      </div>
      
      <div class="col-xs-12 col-sm-4 paddedphotos">
        <div class="hovereffect">
            <img class="img-responsive" src="images/portfolio/christiane-erard-artiste.png" alt="création du site de l'artiste Christiane Érard par Cowichan Fournier">
            <div class="overlay">
              <h2>WordPress</h2>
              <% link_to "ensavoirplus/christiane-erard.html", class: "info" do %>En savoir plus<% end %>
            </div>
        </div>
        <p>
          <% link_to "http://christiane-erard.com/", class: "liensp", target: "_blank" do %>www.christiane-erard.com<% end %>
        </p>
      </div>
      
      <div class="col-xs-12 col-sm-4 paddedphotos">
        <div class="hovereffect">
            <img class="img-responsive" src="images/portfolio/naturopathie.png" alt="création du site de naturopathie par Cowichan Fournier">
            <div class="overlay">
              <h2>WordPress</h2>
              <% link_to "ensavoirplus/naturopathie.html", class: "info" do %>En savoir plus<% end %>
            </div>
        </div>
        <p>
          <% link_to "http://naturopathieetayurveda.com/", class: "liensp", target: "_blank" do %>www.naturopathieetayurveda.com<% end %>
        </p>
      </div>
      
      <div class="col-xs-12 col-sm-4 paddedphotos">
        <div class="hovereffect">
            <img class="img-responsive" src="images/portfolio/services-orchidee.png" alt="Cowichan Fournier">
            <div class="overlay">
               <h2>Site statique</h2>
               <% link_to "ensavoirplus/services.html", class: "info" do %>En savoir plus<% end %>
            </div>
        </div>
        <p>
        <% link_to "http://www.conciergerielorchidee.com/", class: "liensp", target: "_blank" do %>www.conciergerielorchidee.com<% end %>
        </p>
      </div>
    </div>
  </div>
</div>
