---
title: Site WordPress pour le rallye hivernal du Dévoluy
---

<div class="banner bg-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 paddedmoins">
        <h1 class="underl">Rallye hivernal du Dévoluy</h1>
        <hr>
        <p>
        Site réalisé avec le logiciel WordPress pour le rallye hivernal du Dévoluy
        </p>
      </div>
    </div>
  </div>
</div>
<div class="banner bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-justify paddedmoins">
      <h2>1-L'identité visuelle</h2>
        <p>
          Les deux logos existaient déjà et quelques touches personnelles ont été ajoutées comme la recherche d'un jeux de couleurs complémentaires avec <b>Adobe Kuler</b> ou la modification de la photo d'accueil pour la rendre moins rectangulaire avec <b>Gimp</b>.<br />
          Une <b>typographie</b> particulière a été trouvée afin de mettre en valeur le site.
        </p>

        <h2>2-Développement du site</h2>
          <ul class="text-justify"><strong>Les principales fonctionnalités développées</strong> sont :
            <p>
            <li class="fonctions"><span class="souligne">Modification et personnalisation d'un thème</span> WordPress.</li>
            <li class="fonctions"><span class="souligne">Design personnalisé</span>.</li>
            <li class="fonctions"><span class="souligne">Ajouts et paramétrages</span> des différents plugin: Carte (Google Map), formulaire de contact, reCAPTCHA (anti-spam), compteur de départ (page d'accueil), Google Analytics (analyse d'audience du site).</li>
            <li class="fonctions"><span class="souligne">Email</span> professionnel</li>
            <li class="fonctions"><span class="souligne">Utilisation de la grille Bootstrap</span> afin d'aligner les éléments.</li>
            <li class="fonctions"><span class="souligne">Intégration des principaux</span> comptes Réseaux Sociaux.</li>
            <li class="fonctions"><span class="souligne">Référencement naturel</span> optimisé.</li>
            </p>
          </ul>
        <h2>3-L'hébergement et le fonctionnement du site</h2>
        <p>
        Le site est hébergé chez OVH. <strong>Le site du RHD a été réalisé avec le CMS WordPress.</strong> Le tableau de bord de l'administrateur permet une gestion complète du site.
        </p>
        <p class="text-center"><% link_to "http://rallyehivernaldudevoluy.fr/", title: "Voir le site", target: "_blank" do %><span class="btn btn-rounded">Voir le site</span>
        <% end %>
        </p>
      </div>
    </div>
  </div>
</div>

